# .gitattributes
* text=auto
*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.py text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.md text eol=lf
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.pdf binary
*.mov binary
*.mp4 binary
*.zip binary
*.exe binary
node_modules/** -text




